[data-theme="dark"] {
  background-color: #181a1b !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #1b1e1f !important;
}

[data-theme="dark"] .bg-white {
  background-color: #1b1e1f !important;
}

[data-theme="dark"] .bg-black {
  background-color: #1b1e1f !important;
}

[data-theme="dark"] .darktxt {
  color: #fff !important;
}
